Node-RED/MQTTDash/MQTTDash.txt
[{"id":"640438e4.0e5a28","type":"mosca in","z":"89f01ffd.d4d0a","mqtt_port":"1883","mqtt_ws_port":"8081","name":"MOSCA","username":"user","password":"pass","dburl":"","x":360,"y":220,"wires":[["e238ae45.dd9e3"]]},{"id":"25613c95.4b9b24","type":"mqtt in","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/hello","qos":"2","broker":"d2db31c.433a8d","x":350,"y":320,"wires":[["e238ae45.dd9e3"]]},{"id":"e238ae45.dd9e3","type":"debug","z":"89f01ffd.d4d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":320,"wires":[]},{"id":"73d68393.2315bc","type":"mqtt in","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/data","qos":"2","broker":"d2db31c.433a8d","x":350,"y":380,"wires":[["e238ae45.dd9e3","50242633.e58e98"]]},{"id":"9eb983fb.a0d6c","type":"mqtt out","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/onoff","qos":"2","retain":"false","broker":"d2db31c.433a8d","x":650,"y":560,"wires":[]},{"id":"50970b7c.e71b74","type":"inject","z":"89f01ffd.d4d0a","name":"LED ON","topic":"ON","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":640,"wires":[["9eb983fb.a0d6c"]]},{"id":"2a87522.89268ae","type":"inject","z":"89f01ffd.d4d0a","name":"LED OFF","topic":"OFF","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":700,"wires":[["9eb983fb.a0d6c"]]},{"id":"4072cc09.317974","type":"mqtt out","z":"89f01ffd.d4d0a","name":"","topic":"user/feeds/temp2","qos":"","retain":"","broker":"d2db31c.433a8d","x":910,"y":420,"wires":[]},{"id":"d26e3ebb.13267","type":"function","z":"89f01ffd.d4d0a","name":"tempPayload","func":"var newMsg = {\n    \"topic\" : \"temp\",\n    \"payload\" : msg.payload.temperature,\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["fca59ccc.89c7e","4072cc09.317974"]]},{"id":"fca59ccc.89c7e","type":"debug","z":"89f01ffd.d4d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":500,"wires":[]},{"id":"50242633.e58e98","type":"json","z":"89f01ffd.d4d0a","name":"","property":"payload","action":"","pretty":true,"x":510,"y":440,"wires":[["d26e3ebb.13267"]]},{"id":"7daa15ae.6adc1c","type":"mqtt in","z":"89f01ffd.d4d0a","name":"","topic":"ledonoff","qos":"2","broker":"d2db31c.433a8d","x":310,"y":520,"wires":[["17fcf7d7.720a28"]]},{"id":"17fcf7d7.720a28","type":"function","z":"89f01ffd.d4d0a","name":"LED On/Off","func":"if (msg.payload == \"1\") {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":520,"wires":[["9eb983fb.a0d6c"]]},{"id":"d2db31c.433a8d","type":"mqtt-broker","z":"","name":"MQTT_BROKER2","broker":"192.168.11.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]