Node-RED/AzureIoTHub/Azure_IoTHub.txt
[{"id":"a32dfc3c.fab4d","type":"tab","label":"Azure_IoTHub","disabled":false,"info":""},{"id":"5595edc9.f00d14","type":"mosca in","z":"a32dfc3c.fab4d","mqtt_port":"1883","mqtt_ws_port":"8081","name":"MOSCA","username":"user","password":"__PWRD__","dburl":"","x":160,"y":140,"wires":[["4d31a09d.0b326"]]},{"id":"e55aa28b.44949","type":"mqtt in","z":"a32dfc3c.fab4d","name":"","topic":"user/feeds/hello","qos":"2","broker":"362e8ebe.3d2ca2","x":150,"y":300,"wires":[["4d31a09d.0b326"]]},{"id":"4d31a09d.0b326","type":"debug","z":"a32dfc3c.fab4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":260,"wires":[]},{"id":"9af3e86d.58a3a8","type":"mqtt in","z":"a32dfc3c.fab4d","name":"","topic":"user/feeds/data","qos":"2","broker":"362e8ebe.3d2ca2","x":150,"y":360,"wires":[["4d31a09d.0b326","fb8dd816.e577e8"]]},{"id":"7d6ceadc.76fa74","type":"mqtt out","z":"a32dfc3c.fab4d","name":"","topic":"user/feeds/onoff","qos":"2","retain":"false","broker":"362e8ebe.3d2ca2","x":450,"y":540,"wires":[]},{"id":"9e89d87a.7730e8","type":"inject","z":"a32dfc3c.fab4d","name":"LED ON","topic":"ON","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["7d6ceadc.76fa74"]]},{"id":"f74821d7.94a1","type":"inject","z":"a32dfc3c.fab4d","name":"LED OFF","topic":"OFF","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["7d6ceadc.76fa74"]]},{"id":"84a80ba7.cb5fa8","type":"mqtt in","z":"a32dfc3c.fab4d","name":"","topic":"user/feeds/aaa","qos":"2","broker":"362e8ebe.3d2ca2","x":150,"y":220,"wires":[["4d31a09d.0b326"]]},{"id":"a77af5b0.68b6c8","type":"azureiothub","z":"a32dfc3c.fab4d","name":"Azure IoT Hub","protocol":"mqtt","x":770,"y":420,"wires":[["952241c4.10228"]]},{"id":"fb8dd816.e577e8","type":"function","z":"a32dfc3c.fab4d","name":"Azure IoT Hub Msg Function","func":"var payload = {\n    \"deviceId\" : \"stmicro-device-1\",\n    \"key\" : \"++FLXh6oL+4G9VxdruVtiq9m7JD00GxKJpkSEeMlN3s=\",\n    \"protocol\" : \"mqtt\",\n    \"data\" : msg.payload,\n};\n// eQqgn6BjNxLS0eYRy7s66oNfIaPfD2HABgSQFyrBP6g=\nvar newMsg = {\n    \"topic\" : \"Azure IoT Hub (temperature)\",\n    \"payload\" : payload,\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["a77af5b0.68b6c8"]]},{"id":"952241c4.10228","type":"debug","z":"a32dfc3c.fab4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":420,"wires":[]},{"id":"362e8ebe.3d2ca2","type":"mqtt-broker","z":"","name":"MQTT_BROKER2","broker":"192.168.11.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]