Node-RED/AzureIoTHub/Azure_IoTHub.txt
[{"id":"ef37ff37.4e39c","type":"mosca in","z":"1f2dec72.48b9d4","mqtt_port":"1883","mqtt_ws_port":"8081","name":"MOSCA","username":"user","password":"__PWRD__","dburl":"","x":160,"y":140,"wires":[["2788043b.d9a4fc"]]},{"id":"d53f70bf.171d1","type":"mqtt in","z":"1f2dec72.48b9d4","name":"","topic":"user/feeds/hello","qos":"2","broker":"657ee4d7.a3ae3c","x":150,"y":300,"wires":[["2788043b.d9a4fc"]]},{"id":"2788043b.d9a4fc","type":"debug","z":"1f2dec72.48b9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":260,"wires":[]},{"id":"cac68071.1854c","type":"mqtt in","z":"1f2dec72.48b9d4","name":"","topic":"user/feeds/data","qos":"2","broker":"657ee4d7.a3ae3c","x":150,"y":360,"wires":[["2788043b.d9a4fc","b2b927f2.ec54d8"]]},{"id":"d2548e7e.62a4b","type":"mqtt out","z":"1f2dec72.48b9d4","name":"","topic":"user/feeds/onoff","qos":"2","retain":"false","broker":"657ee4d7.a3ae3c","x":450,"y":540,"wires":[]},{"id":"2d15fe6b.e2e232","type":"inject","z":"1f2dec72.48b9d4","name":"LED ON","topic":"ON","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["d2548e7e.62a4b"]]},{"id":"45901f76.5c917","type":"inject","z":"1f2dec72.48b9d4","name":"LED OFF","topic":"OFF","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["d2548e7e.62a4b"]]},{"id":"f4aaa938.6a4e38","type":"mqtt in","z":"1f2dec72.48b9d4","name":"","topic":"user/feeds/aaa","qos":"2","broker":"657ee4d7.a3ae3c","x":150,"y":220,"wires":[["2788043b.d9a4fc"]]},{"id":"bf5c2c1d.0e29b","type":"azureiothub","z":"1f2dec72.48b9d4","name":"Azure IoT Hub","protocol":"mqtt","x":770,"y":420,"wires":[["1c496024.3c90c"]]},{"id":"b2b927f2.ec54d8","type":"function","z":"1f2dec72.48b9d4","name":"Azure IoT Hub Msg Function","func":"var payload = {\n    \"deviceId\" : \"stmicro-device-1\",\n    \"key\" : \"++FLXh6oL+4G9VxdruVtiq9m7JD00GxKJpkSEeMlN3s=\",\n    \"protocol\" : \"mqtt\",\n    \"data\" : msg.payload,\n};\n// eQqgn6BjNxLS0eYRy7s66oNfIaPfD2HABgSQFyrBP6g=\nvar newMsg = {\n    \"topic\" : \"Azure IoT Hub (temperature)\",\n    \"payload\" : payload,\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["bf5c2c1d.0e29b"]]},{"id":"1c496024.3c90c","type":"debug","z":"1f2dec72.48b9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":420,"wires":[]},{"id":"657ee4d7.a3ae3c","type":"mqtt-broker","z":"","name":"MQTT_BROKER2","broker":"192.168.11.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]